body {
    font-family: Arial, sans-serif;
    background-color: #5060f9;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #440ac1;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: white;
}

input[type="text"] {
    width: calc(100% - 80px);
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #f00909;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #980606;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 10px 0;
    color: white;
}

.task-item span {
    flex-grow: 1;
}

.task-item button {
    background-color: #f00909;
    margin-left: 5px;
}
